html {
    font-size: 16px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background: #212121;
    color: #fff;

    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.app {
    position: relative;
    height: 100vh;

    max-width: 100vw;
    overflow: hidden;
}

.app__canvas {
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0.9;
    outline: none;

    &:focus {
        opacity: 1;
    }
}

.app__real-img-canvas {
    position: absolute;
    bottom: 0;
    right: 0;

    background: rgba(#212121, .9);
    padding: 10px;

    transform-origin: right bottom;

    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -o-crisp-edges;            
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;
    image-rendering: optimize-contrast;         
    -ms-interpolation-mode: nearest-neighbor;  

    transition: transform .3s;

    transform: scale(1);

    &:hover {
        transform: scale(2);
    }
}